.header {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  padding: 45px 0 40px;
  margin: 0 auto;
  border-bottom:  1px solid rgba(84,84,84, .7);
}

@media screen and (max-width: 900px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}